<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Undian</title>

    <!-- datatables CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='/assets/css/dataTables.bootstrap4.min.css')}}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/bootstrap.min.css') }}" />

    <!-- Jquery -->
    <script src="{{url_for('static', filename='/assets/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/js/jquery-3.5.1.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/js/dataTables.bootstrap4.min.js')}}"></script>

    <!-- styles CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='/assets/css/index.css')}}">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Font Awesome -->
    <!-- <script src="https://kit.fontawesome.com/f2ee4a9353.js" crossorigin="anonymous"></script> -->
</head>

<body>
    <div class="loading" id="img" style="display: none;">
        <img src="{{ url_for('static', filename='loading.gif')}}" id='loading' />"
    </div>

    <header class="mb-5 pt-4">
        <nav id="navigation-section" class="navbar navbar-expand-lg navbar-light fixed-top nav-transparan pt-4">
            <div class="container">
                <h7><a class="navbar-brand" href="{{url_for('index')}}">
                        <img src="../static/assets/img/event_logo.png" width="30" height="30"
                            class="d-inline-block align-top" alt="">

                        Undian</a> </h7>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item  {{ 'active' if data == '/beranda' else '' }}">
                            <a class="nav-link text-wide " href="{{url_for('home')}}">Beranda</a>
                        </li>
                        <li class="nav-item {{ 'active' if data == '/peserta' else '' }}">
                            <a class="nav-link text-wide " href="{{url_for('participant')}}">Peserta</a>
                        </li>
                        <li class="nav-item {{ 'active' if data == '/hadiah' else '' }}">
                            <a class="nav-link text-wide " href="{{url_for('reward')}}">Hadiah</a>
                        </li>
                        <li class="nav-item  {{ 'active' if data == '/pemenang' else '' }}">
                            <a class="nav-link text-wide" href="{{url_for('winner')}}">Pemenang</a>
                        </li>
                        <li class="nav-item  {{ 'active' if data == '/undian' else '' }}">
                            <a class="nav-link text-wide" href="{{url_for('lucky_draw')}}">Undian</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>