<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Undian</title>

    <!-- datatables CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='/assets/css/dataTables.bootstrap4.min.css')}}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/bootstrap.min.css') }}" />


    <!-- Jquery -->
    <script src="{{url_for('static', filename='/assets/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/js/jquery-3.5.1.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename='/assets/js/dataTables.bootstrap4.min.js')}}"></script>



    <!-- styles CSS -->
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='/assets/css/index.css')}}"> -->

    <!-- Font Awesome -->
    <!-- <script src="https://kit.fontawesome.com/f2ee4a9353.js" crossorigin="anonymous"></script> -->
</head>

<body>
    <div class="loading" id="img" style="display: none;">
        <img src="{{ url_for('static', filename='loading.gif')}}" id='loading' />"
    </div>
    <main>
        <div class="jumbotron bg-white d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="text-center">
                            <img width="90" class="img-fluid" style="min-width:20px;"
                                src="{{ url_for('static', filename='assets/img/login_logo.png')}}" id='loading' />
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-md-5 col-xl-5 col-sm-10 py-4 border border-black">
                        <h3 class="text-center pb-3">Buat Akun Baru</h3>
                        <form id="register" method="post" action="{{url_for('register')}}">
                            <div class="mb-3 ">
                                <label for="username" class="form-label">Nama pengguna</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Sandi</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="mb-3">
                                <label for="confirm_password" class="form-label">Konfirmasi Sandi</label>
                                <input type="password" class="form-control" id="confirm_password"
                                    name="confirm_password" required>
                            </div>
                            <!-- <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div> -->
                            <button type="submit" class="btn mt- btn-block btn-lg btn-primary">Daftar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='/assets/js/jquery.min.js')}}"></script>
    <script type="text/javascript">
        // $(function () {
        //     $('#login').on('submit', function (e) {
        //         e.preventDefault();
        //         $.ajax({
        //             type: 'POST',
        //             url: '/login',
        //             contentType: false,
        //             processData: false,
        //             data: {
        //                 "username": username,
        //                 "password": password
        //             },
        //             success: function (res) {
        //             },
        //             error: function (err) {
        //             }
        //         });
        //     });
        // })
    </script>
    {% include 'footer.html' %}